sphinx==4.3.1
# sphinx itself does not pin its extension
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-applehelp==1.0.2

readthedocs-sphinx-ext==2.1.4
packaging==21.3
sphinx_rtd_theme==1.0.0
jupyter-sphinx==0.3.2
myst-nb==0.13.1
ipykernel==6.5.1
sphinx-thebe==0.0.10
nbconvert==6.3.0
mock==1.0.1
attrs==21.2.0
ipywidgets==7.6.5
jupyterlab_widgets==1.0.2

. # install commplax from the current directory
.[fs]  # install commplax from the current directory
